{% extends "base.html" %}

{% block content %}
<h1>{{ post.title }}</h1>
<div>{{ post.content | safe }}</div> <!-- Use the safe filter to render HTML content -->

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        {% for category, message in messages %}
          alert("{{ message | replace('"', '\\"') | replace('\n', '\\n') }}");
        {% endfor %}
      });
    </script>
  {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('add_comment', post_id=post.id) }}">
    <label for="comment">Comment:</label>
    <textarea name="comment"></textarea>
    <button type="submit">Submit</button>
</form>
<ul>
    {% for comment in comments %}
    <li>
        {{ comment }}
    </li>
    {% endfor %}
</ul>
{% endblock %}